.task {
    width: 200px;
    padding: 20px;
    background-color: whitesmoke;
    border: 1px solid grey;
    margin: 15px auto 0;
}

.list {
    list-style-type: none;
}

.btnDel {
    background-color: wheat;
    border: none;
    padding: 10px;
    margin-top: 23px;
}

.form {
    margin: 0 auto;
    width: 280px;
    padding: 20px;
    background-color: whitesmoke;
    border: 2px solid grey;
}

.btn {
    background: darkgray;
    border: none;
    margin-top: 15px;
    padding: 4px;
}

.inp {
    border: 2px solid grey;
}